In [1]:
import pandas as pd
from rdframe.client.http_client import HttpClientDataFormat, HttpClient
from rdframe.knowledge_graph import KnowledgeGraph
from rdframe.dataset.rdfpredicate import RDFPredicate
from rdframe.dataset.aggregation_fn_data import AggregationData

In [2]:
    endpoint = 'http://10.161.202.101:8890/sparql/'
    port = 8890
    output_format = HttpClientDataFormat.PANDAS_DF
    max_rows = 1000000
    timeout = 12000
    default_graph_url = 'http://twitter.com'
    client = HttpClient(endpoint_url=endpoint,
                        port=port,
                        return_format=output_format,
                        timeout=timeout,
                        default_graph_uri=default_graph_url,
                        max_rows=max_rows
                        )

    graph = KnowledgeGraph('twitter',
                           'http://twitter.com/',
                           prefixes={
                               "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
                               "sioc": "http://rdfs.org/sioc/ns#",
                               "sioct": "http://rdfs.org/sioc/types#",
                               "to": "http://twitter.com/ontology/",
                               "dcterms": "http://purl.org/dc/terms/",
                               "xsd": "http://www.example.org/",
                               "foaf": "http://xmlns.com/foaf/0.1/"
                           })

    dataset = graph.entities(class_name='sioct:microblogPost',
                             new_dataset_name='tweets',
                             entities_col_name='tweet')
    ds = dataset.expand(src_col_name='tweet', predicate_list=[
        RDFPredicate('sioc:has_creater', 'tweep')
    ]).group_by(['tweep']).count(
        aggregation_fn_data=[AggregationData('tweet', 'tweets_count')]).filter(
        conditions_dict={'tweets_count': ['>= {}'.format(200), '<= {}'.format(300)]})

    ds = ds.expand(src_col_name='tweet', predicate_list=[
        RDFPredicate('sioc:content', 'text', optional=False),
        RDFPredicate('dcterms:created', 'date', optional=True),
        RDFPredicate('to:hasmedia', 'multimedia', optional=True),
        RDFPredicate('to:hashashtag', 'hashtag', optional=True),
        RDFPredicate('sioc:mentions', 'users_mentioned', optional=True)
    ])

    ds = ds.select_cols(['tweet', 'tweep', 'text', 'date', 'multimedia', 'hashtag', 'users_mentioned'])
    
    sparql_query = ds.to_sparql()

In [3]:
    print("Sparql Query = \n{}".format(ds.to_sparql()))

Sparql Query =
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX sioc: <http://rdfs.org/sioc/ns#>
PREFIX sioct: <http://rdfs.org/sioc/types#>
PREFIX to: <http://twitter.com/ontology/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX xsd: <http://www.example.org/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
SELECT ?tweet ?tweep ?text ?date ?multimedia ?hashtag ?users_mentioned
FROM <http://twitter.com/>
WHERE
{
	?tweet sioc:content ?text .
	?tweet rdf:type sioct:microblogPost .
	?tweet sioc:has_creater ?tweep .

	OPTIONAL {
		?tweet dcterms:created ?date .
		?tweet to:hasmedia ?multimedia .
		?tweet to:hashashtag ?hashtag .
		?tweet sioc:mentions ?users_mentioned .
	}
	{
		SELECT ?tweep
		WHERE
		{
			?tweet rdf:type sioct:microblogPost .
			?tweet sioc:has_creater ?tweep .

		} GROUP BY ?tweep
		 HAVING(( COUNT( ?tweet) >= 200 )  && ( COUNT( ?tweet) <= 300 ) )
	}
}

In [4]:
    df = ds.execute(client, return_format=output_format)
    print(df.head(10))

/Users/aisha/Desktop/QCRI/RDFrame/rdframe/dataset/dataset.py:192: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  res = client.execute_query(query_string, return_format=return_format)

                                               tweet  \
0  http://twitter.com/5Yk7JzKkUUacrQv/status/1035...
1  http://twitter.com/adeladelv/status/1035976828...
2  http://twitter.com/alihks2999/status/103582758...
3  http://twitter.com/sharida_a/status/1035796244...
4  http://twitter.com/amzkh1/status/1036188540940...
5  http://twitter.com/gdooh111/status/10327840499...
6  http://twitter.com/justnow1991/status/10328100...
7  http://twitter.com/justnow1991/status/10330713...
8  http://twitter.com/yousef_tw/status/1032994882...
9  http://twitter.com/yousef_tw/status/1032995374...

                                 tweep  \
0  http://twitter.com/5Yk7JzKkUUacrQv/
1        http://twitter.com/adeladelv/
2       http://twitter.com/alihks2999/
3        http://twitter.com/sharida_a/
4           http://twitter.com/amzkh1/
5         http://twitter.com/gdooh111/
6      http://twitter.com/justnow1991/
7      http://twitter.com/justnow1991/
8        http://twitter.com/yousef_tw/
9        http://twitter.com/yousef_tw/

                                                text                  date  \
0  RT @AASAAKSA: هكذا كانت نظرات الأسد سلمان  !!\...  2018-09-01T19:43:07Z
1  RT @AASAAKSA: هذي الحقيقة \n\n#قطر #الدوحة #تم...  2018-09-01T19:44:58Z
2  RT @skynewsarabia: وقف دعم الإرهاب وتغيير سياس...  2018-09-01T09:51:55Z
3  RT @Ol1raF: @AJABreaking الصهاينة يعتبرون #قطر...  2018-09-01T07:47:23Z
4  RT @naissy_q: الممثل القطري غازي حسين في كربلا...  2018-09-02T09:46:14Z
5  RT @zelzal_qtr: #ترمب\nتوتو وناسه في العنايه \...  2018-08-24T00:18:00Z
6  RT @kuwarimud: نيابة عن شعب #قطر نتمنى الشفاء ...  2018-08-24T02:01:25Z
7  RT @aletihadae: صحف إسبانية: قطر تحول "كتالوني...  2018-08-24T19:19:43Z
8  RT @DR_ABDULLAH_Q8: أنا مع الحق #القطري وسوف ا...  2018-08-24T14:15:46Z
9  RT @AlArabNewsPaper: #شاهد.. رجال المرور يقدمو...  2018-08-24T14:17:43Z

                                          multimedia  \
0  https://twitter.com/AASAAKSA/status/1035436929...
1  https://twitter.com/AASAAKSA/status/1035975228...
2  https://twitter.com/skynewsarabia/status/10358...
3  https://twitter.com/Ol1raF/status/103574931556...
4  https://twitter.com/naissy_q/status/1036164217...
5  https://twitter.com/zelzal_qtr/status/10326821...
6  https://twitter.com/kuwarimud/status/103273740...
7  https://twitter.com/aletihadae/status/10330696...
8  https://twitter.com/DR_ABDULLAH_Q8/status/1032...
9  https://twitter.com/AlArabNewsPaper/status/103...

                                            hashtag  \
0                   http://twitter.com/hashtag#قطر/
1                  http://twitter.com/hashtag#دليم/
2             http://twitter.com/hashtag#شاهد_سكاي/
3                   http://twitter.com/hashtag#قطر/
4                   http://twitter.com/hashtag#قطر/
5                  http://twitter.com/hashtag#ترمب/
6  http://twitter.com/hashtag#سلامتك_تركي_ال_الشيخ/
7           http://twitter.com/hashtag#مصدرك_الأول/
8                http://twitter.com/hashtag#الكويت/
9              http://twitter.com/hashtag#مرور_قطر/

                       users_mentioned
0         http://twitter.com/AASAAKSA/
1         http://twitter.com/AASAAKSA/
2    http://twitter.com/skynewsarabia/
3      http://twitter.com/AJABreaking/
4         http://twitter.com/naissy_q/
5       http://twitter.com/zelzal_qtr/
6        http://twitter.com/kuwarimud/
7       http://twitter.com/aletihadae/
8   http://twitter.com/DR_ABDULLAH_Q8/
9  http://twitter.com/AlArabNewsPaper/